.leftMargin {
    margin-left:  5vh;
    margin-right: 5Vh;
    margin-top: 3vh;
}

.content-center {
    padding-left: 40vw !important; 
}

@media screen and (min-width: 600px) {
    .leftMargin{
        margin-left: 35vh;
        margin-right: 5Vh;
        margin-top: 3vh;
    }

} 
